[Unit]
Description={{ hello_service_description }}

[Service]
Type=simple
WorkingDirectory={{ hello_basedir }}
ExecStart={{ hello_java }} -jar {{ hello_jar }} --spring.profiles.active={{ hello_spring_profile }}
User={{ hello_user }}
SyslogIdentifier={{ hello_syslog_identifier }}

[Install]
WantedBy=multi-user.target
